@media screen and (max-width:550px){
    .form-container{
        align-items: start !important;
        margin-top: 2em;
    }
}
*{
    font-family: 'Baloo 2', cursive;
}
.form-container{
    display: flex;
    height: calc(100vh - 2em);
    justify-content: center;
    align-items: center;
}
.form-itself{
    padding:3em;
    background-color: #245f96;
    border-radius: 10px;
}
legend{
    text-align: center;
    font-size: 1.5em;
    color:#FFF;
}
.input{
    margin-bottom:2em;
}
label{
    display: block;
    color:#FFF;
    font-size: 1.2em;
}
small a{
    color:#FFF;
}
.register-input{
    margin-bottom:.5em !important;
}