{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/reminders.css" %}">
    <link rel="stylesheet" href="{% static "fonts/style.css" %}">
    <link rel="stylesheet" href="{% block link1 %}{% endblock link1 %}">
    <link rel="stylesheet" href="{% block link2 %}{% endblock link2 %}">
    <link rel="stylesheet" href="{% block link3 %}{% endblock link3 %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>School Manager</title>
</head>
<body>

    <header>
        <div class='heading-container'>
            {% if user.student.grade %}
                <div class='heading-left'>
                    <h2><a href="{% url 'reminders' %}">{{user.student.grade}}</a></h2>
                </div>
            {% else %}
                <div class='heading-left'>
                    <h2><a href="{% url 'reminders' %}">Unirse a curso</a></h2>
                </div>
            {% endif %}
            <div class="heading-right">
                <span class='username'>{{user.first_name}}</span>
                <a href="{% url 'logout' %}"><span class="icon-switch"></span></a>
            </div>
        </div>
    </header>


    <div class="main-container">
        <nav>
            <div class="nav-list-container">
                <ul class="nav-list">
                    <li class='nav-item tasks-nav'><a href="{% url 'tasks' %}">Actividades</a></li>
                    <li class='nav-item tests-nav'><a href="{% url 'tests' %}">Pruebas</a></li>
                    <li class='nav-item subjects-nav'><a href="{% url 'subjects' %}">Materias</a></li>
                </ul>

            </div>
            <span class="icon-book"></span>
        </nav>

        

        <aside>
            <div class="sidebar-container">
                <h4 class='sidebar-title'>Esta semana</h4>
                <hr>
                <ul class='sidebar-list'>
                    {% if week %}
                        {% for task in week %}
                            <li class='sidebar-task'>
                                <a href="{% url 'detail_task' task.id %}">
                                    <div class='sidebar-task-name'>{{task.title}}
                                        {% if task.type_task == 'test' %}
                                        (Prueba)
                                        {% else %}
                                        (Actividad)
                                        {% endif %}
                                    </div>
                                    
                                    <small class='sidebar-task-date'>{{task.time|date:'l'}} ({{task.time|date:'j/n'}})</small>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <div class="noContent">No hay tareas esta semana</div>
                    {% endif %}
     
                </ul>
            </div>
        </aside>

        <main>
            {% for message in messages %}
                <div class='messages'>{{message}}</div>
            {% endfor %}
            {% block main %}
                {% if user.student.grade %}
                    <h1 class='reminders-title'>Recordatorios</h1>
                    {% if object_list %}
                        {% for task in object_list %}
                            <ul class="reminders-list">
                                <li class="reminders-item">{{ task.description }}
                                {% if user.student.delegate %}
                                    <span class='icon-bin delete-task'></span>
                                    <div class="confirm-delete">
                                        <p class='confirm-delete-title'>Deseas eliminar la tarea?</p>
                                        <div class="confirm-delete-selection">
                                            <a href='{% url 'delete_task' task.id %}' class='confirm-delete-yes'>Si</a>
                                            <span class="confirm-delete-no">No</span>
                                        </div>
                                    </div>
                                {% endif %}
                                </li>
                            </ul>
                        {% endfor %}
                    {% else %}
                        <div class='noContent'>Sin recordatorios</div>

                    {% endif %}
                    {% if user.student.delegate %}
                        <div class="add-reminder-form">
                            <form method="POST">
                                {% csrf_token %}
                                <textarea name='description'></textarea>
                                <button type='submit'>Crear</button>
                            </form>
                        </div>  
                    {% endif %}   
                {% else %}
                    <div class="nograde">
                        <form action="{% url 'select_grade' %}" method="POST">
                            {% csrf_token %}
                            <legend>Elegir un curso</legend>
                            {{form_select_grade}}
                            <button type="submit">Unirse</button>
                        </form>
                    </div>
                {% endif %}
            {% endblock main %}
        </main>
        {% if user.student.delegate %}
            {% block form %}
                    <div class='add-form-container'>
                        <div class="add-form">
                            <legend>Crear tarea</legend>
                            <form action="{% url 'new_task' type_task %}" method="POST" enctype='multipart/form-data'>
                                {% csrf_token %}
                                {{ form_new_task.as_p }}
                                <label for="file_field">Archivos</label>
                                {{ new_file_form.file_field }}
                                <div class='buttons'> 
                                    <a href='#' class='close-form'>Cancelar</a>
                                    <button class='add-form-button' type='submit'>Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
            {% endblock form %}
        {% endif %}
    </div>
    <script src='{% static 'js/reminders.js' %}'></script>

</body>
</html>