{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/reminders.css" %}">
    <link rel="stylesheet" href="{% static "fonts/style.css" %}">
    <title>School Manager</title>
</head>
<body>

    <header>
        <div class='heading-container'>
            <div class='heading-left'>
                <h2><a href="#">2do 1ra CS IPP</a></h2>
            </div>
        
            <div class="heading-right">
                <span class='username'>Luis</span>
                <a href="#"><span class="icon-power"></span></a>
            </div>
        </div>
    </header>


    <div class="main-container">
        <nav>
            <div class="nav-list-container">
                <ul class="nav-list">
                    <li class='nav-item'><a href="#">Actividades</a></li>
                    <li class='nav-item'><a href="#">Pruebas</a></li>
                    <li class='nav-item'><a href="#">Materias</a></li>
                </ul>
            </div>
            <span class="icon-book"></span>
        </nav>

        

        <aside>
            <div class="sidebar-container">
                <h4 class='sidebar-title'>Esta semana</h4>
                <hr>
                <ul class='sidebar-list'>
                    <li class='sidebar-task'>
                        <a href="#">Prueba matemáticas</a>
                        <small class='sidebar-task-date'>Lunes (4/4)</small>
                    </li>
                    <li class='sidebar-task'>
                        <a href="#">Feria de ciencias</a>
                        <small class='sidebar-task-date'>Viernes (8/4)</small>
                    </li>
     
                </ul>
            </div>
        </aside>

        <main>
            {% block main %}
                <h1 class='reminders-title'>Recordatorios</h1>
                <ul class="reminders-list">
                    <li class="reminders-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque optio tempore asperiores at, reprehenderit magnam consectetur perferendis doloremque beatae quos accusamus nihil neque, unde sequi, voluptatum pariatur ratione corrupti quod.</li>
                    <li class="reminders-item">Recordatorio 2</li>
                    <li class="reminders-item">Recordatorio 3</li>
                </ul>
            {% endblock main %}
        </main>

    </div>

</body>
</html>