{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/reminders.css" %}">
    <link rel="stylesheet" href="{% static "fonts/style.css" %}">
    <link rel="stylesheet" href="{% block link1 %}{% endblock link1 %}">
    <link rel="stylesheet" href="{% block link2 %}{% endblock link2 %}">
    <link rel="stylesheet" href="{% block link3 %}{% endblock link3 %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>School Manager</title>
</head>
<body>

    <header>
        <div class='heading-container'>
            <div class='heading-left'>
                <h2><a href="{% url 'reminders' %}">{{user.student.grade}}</a></h2>
            </div>
        
            <div class="heading-right">
                <span class='username'>{{user.first_name}}</span>
                <a href="{% url 'logout' %}"><span class="icon-switch"></span></a>
            </div>
        </div>
    </header>


    <div class="main-container">
        <nav>
            <div class="nav-list-container">
                <ul class="nav-list">
                    <li class='nav-item tasks-nav'><a href="{% url 'tasks' %}">Actividades</a></li>
                    <li class='nav-item tests-nav'><a href="{% url 'tests' %}">Pruebas</a></li>
                    <li class='nav-item subjects-nav'><a href="{% url 'subjects' %}">Materias</a></li>
                </ul>

            </div>
            <span class="icon-book"></span>
        </nav>

        

        <aside>
            <div class="sidebar-container">
                <h4 class='sidebar-title'>Esta semana</h4>
                <hr>
                <ul class='sidebar-list'>
                    {% if week %}
                        {% for task in week %}
                            <li class='sidebar-task'>
                                <a href="{% url 'detail_task' task.id %}">
                                    <div class='sidebar-task-name'>{{task.title}}
                                        {% if task.type_task == 'test' %}
                                        (Prueba)
                                        {% else %}
                                        (Actividad)
                                        {% endif %}
                                    </div>
                                    
                                    <small class='sidebar-task-date'>{{task.time|date:'l'}} ({{task.time|date:'j/n'}})</small>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <div class="noContent">No hay tareas esta semana</div>
                    {% endif %}
     
                </ul>
            </div>
        </aside>

        <main>
            {% block main %}
                {% for message in messages %}
                    <div class='messages'>{{message}}</div>
                {% endfor %}
                <h1 class='reminders-title'>Recordatorios</h1>
                {% if object_list %}
                    {% for task in object_list %}
                        <ul class="reminders-list">
                            <li class="reminders-item">{{ task.description }}</li>
                            <a href='{% url 'delete_reminder' task.id %}'>Eliminar</a>
                        </ul>
                    {% endfor %}
                {% else %}
                    <div class='noContent'>Sin recordatorios</div>

                {% endif %}
                <div class="add-form">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="text" name='description'>
                        <button type='submit'>Crear</button>
                    </form>
                </div>

            {% endblock main %}
        </main>
    </div>
    <script src='{% static 'js/reminders.js' %}'></script>

</body>
</html>