{% extends 'task/reminders.html' %}
{% load static %}
{% block link1 %}{% static "css/tasks.css" %}{% endblock link1 %}

{% block main %}
    <div class="task-container">

        {% if object_list %}
            {% for task in object_list %}
                <div class="task">
                    <a href="{% url 'detail_task' task.id %}" class='link'></a>
                    <div class="task-left">
                        <div class="task-date">
                            <div class="task-day">{{task.time|date:'l'}}</div>
                            <div class="task-daymonth">({{task.time|date:'j/n' }})</div>
                        </div>

                        <div class="task-info">
                            <div class="task-subject">{{task.subject.name}}</div>
                            <div class="task-name">{{task.title}}</div>
                        </div>
                    </div>
                    <div class="task-right">
                        {% if task.type_task == 'task' %}
                            <input type="checkbox" title='Tarea terminada' class="task-done">
                        {% endif %}
                    </div>
                </div>

                <hr class='task-divisor'>
            {% endfor %}
        {% else %}
            <div class="noContent">No hay elementos</div>
        {% endif %}
    </div>
{% endblock main %}