{% extends 'task/reminders.html' %}
{% load static %}
{% block link1 %}{% static "css/tasks.css" %}{% endblock link1 %}

{% block main %}
    <div class="task-container">
        <div class="task">
            <a href="#" class='link'></a>
            <div class="task-left">
                <div class="task-date">
                    <div class="task-day">Esta semana</div>
                    <div class="task-daymonth">(4/4)</div>
                </div>
               
                <div class="task-info">
                    <div class="task-subject">Dibujo</div>
                    <div class="task-name">Casa rodante</div>
                </div>
            </div>
            <div class="task-right">
                <span class="icon-attachment"></span>
                <input type="checkbox" class="task-done">
            </div>
        </div>

        <hr class='task-divisor'>

        <div class="task">
            <a href="#" class='link'></a>
            <div class="task-left">
                <div class="task-date">
                    <div class="task-day">Próximo mes</div>
                    <div class="task-daymonth">(4/5)</div>
                </div>
                <div class="task-info">
                    <div class="task-subject">Lengua</div>
                    <div class="task-name">Verbos</div>
                </div>
            </div>
            <div class="task-right">
                <span class="icon-attachment"></span>
                <input type="checkbox">
            </div>
        </div>
        <hr class='task-divisor'>
        <div class="task">
            <a href="#" class='link'></a>
            <div class="task-left">
                <div class="task-date">
                    <div class="task-day">Próximo mes</div>
                    <div class="task-daymonth">(4/5)</div>
                </div>
                <div class="task-info">
                    <div class="task-subject">Lengua</div>
                    <div class="task-name">Verbos</div>
                </div>
            </div>
            <div class="task-right">
                <span class="icon-attachment"></span>
                <input type="checkbox">
            </div>
        </div>
        <hr class='task-divisor'>
        <div class="task">
            <a href="#" class='link'></a>
            <div class="task-left">
                <div class="task-date">
                    <div class="task-day">Próximo mes</div>
                    <div class="task-daymonth">(4/5)</div>
                </div>
                <div class="task-info">
                    <div class="task-subject">Lengua</div>
                    <div class="task-name">Verbos</div>
                </div>
            </div>
            <div class="task-right">
                <span class="icon-attachment"></span>
                <input type="checkbox">
            </div>
        </div>
        <hr class='task-divisor'>
        <div class="task">
            <a href="#" class='link'></a>
            <div class="task-left">
                <div class="task-date">
                    <div class="task-day">Próximo mes</div>
                    <div class="task-daymonth">(4/5)</div>
                </div>
                <div class="task-info">
                    <div class="task-subject">Lengua</div>
                    <div class="task-name">Verbos</div>
                </div>
            </div>
            <div class="task-right">
                <span class="icon-attachment"></span>
                <input type="checkbox">
            </div>
        </div>
        <hr class='task-divisor'>
        <div class="task">
            <a href="#" class='link'></a>
            <div class="task-left">
                <div class="task-date">
                    <div class="task-day">Próximo mes</div>
                    <div class="task-daymonth">(4/5)</div>
                </div>
                <div class="task-info">
                    <div class="task-subject">Lengua</div>
                    <div class="task-name">Verbos</div>
                </div>
            </div>
            <div class="task-right">
                <span class="icon-attachment"></span>
                <input type="checkbox">
            </div>
        </div>

    </div>
{% endblock main %}