{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    
    <div class="form-container">
        {% block form %}
        <div class="form-itself">
            <form method="POST">
                {% csrf_token %}
                <legend>Iniciar Sesión</legend>
                {% if form.errors %}
                    <small class='help-text' style='font-weight: 700;'>Revisa los errores en el formulario.</small>
                {% endif %}
                <div class="input">
                    <label>DNI</label>
                    {{form.username}}
                </div>
                <div class="input">
                    <label>Contraseña</label>
                    {{form.password}}
                </div>
            
                <button type='submit'>Ingresar</button>
                <small class='register'><a href="{% url 'register' %}">Registrarse</a></small>
            </form>
        </div>
        {% endblock %}
    </div>

</body>
</html>
